{% extends "web_app/vista_agrupar.html" %}

{% block groupby %}
    {% if author == "" %}
        {% for author, file in files.items %}
            <tr>                                        
            <td><button class="btn btn-sm" type="submit" id="autor" name="autor" value="{{ author }}" style="padding-left: 0px;font-size: 16px;"><i class="fa fa-folder" style="font-size: 20px;padding-right: 10px;"></i>{{ author }}</button></td>
            <td><span>REQ</span></td>                                        
            </tr>
        {% endfor %}
    {% else %}
        {% for file in files %}
            <tr>
            <td><button class="btn btn-sm" type="button" style="padding-left: 0px;font-size: 16px;"><i class="fa fa-folder" style="font-size: 20px;padding-right: 10px;"></i>{{ file }}</button></td>
            <td><span>REQ</span></td>
            </tr>
        {% endfor %}
    {% endif %}
{% endblock %}