th {
}

@media (min-width: 360px) {
  .filters {
    max-width: 175px;
  }
}

@media (min-width: 576px) {
  .filters {
    max-width: 405px;
  }
}

@media (min-width: 768px) {
  .filters {
    max-width: 615px;
  }
}

@media (min-width: 992px) {
  .filters {
    max-width: 845px;
  }
}

@media (min-width: 1200px) {
  .filters {
    max-width: 895px;
  }
}

@media (min-width: 1400px) {
  .filters {
    max-width: 1050px;
  }
}

